
<% if message.user != message.chatroom.professional.user %>
  <div class="requester-message" id="message-<%= message.id %>" style='text-align:right' data-author="<%= message.user.nickname.downcase %>" data-chatroom-subscription-target="message">
    <div class="d-flex">
      <div class= "separator">
        <p>&nbsp</p>
      </div>
      <div class="separator-me">
        <small >
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%d.%m.%g %T") %></i>
        </small>
        </div>
      </div>
      <p><%= message.content %></p>
  </div>
<% else %>
  <div class="answer-message" id="message-<%= message.id %>" data-author="<%= message.user.nickname.downcase %>" data-chatroom-subscription-target="message">
    <div class="d-flex">
      <div class="separator-others">
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%d.%m.%g %T") %></i>
        </small>
      </div>
      <div class= "separator text-test">
        <p>&nbsp</p>
      </div>
    </div>
    <p><%= message.content %></p>
  </div>
<% end %>
<br>
