<div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
    <h1 class= "title mb-5">Buy with Otis!</h1>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>

      <%# <%= f.submit 'SEND', class: "btn mb-3"%>
      <%= button_tag type: 'submit', class: "btn mb-3 border-0" do%>
      <i class="fa-regular fa-paper-plane text-success" aria-hidden="true"></i>
      <% end %>

    <% end %>
  </div>
