<!-- Button trigger modal -->
<button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#cardModal-<%= card.id %>">
  More about this...
</button>

<!-- Modal -->
<div class="modal fade" id="cardModal-<%= card.id %>" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-sex-card">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <h5 class="modal-title" id="cardModalLabel"><%= card.title %></h5>
          <div class="modal-rectangle">&nbsp;</div>
          <div class="modal-photo">
            <%= cl_image_tag card.photos[0].key, crop: :fit %>
          </div>
        <div class="modal-body">
          <%= card.content %>
      </div>
          <div class="modal-foot">
            <%= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
                    <%= f.input :category, label: false, input_html: { value: card.title, class: "d-none" } %>
                    <%= f.input :from_card, label: false, input_html: { value: true , class: "d-none" } %>
                    <%= button_tag type: 'submit', class: "modal-button-to-chat" do %>
                      Talk to a specialist!
                    <% end %>
                  <% end %>
                  <%= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
                    <%= f.input :category, label: false, input_html: { value: card.title, class: "d-none" } %>
                    <%= f.input :from_card_marketplace, label: false, input_html: { value: true , class: "d-none" } %>
                    <%= button_tag type: 'submit', class: "modal-button-to-market" do %>
                      Find related products!
                    <% end %>
                  <% end %>
              </div>
    </div>
    </div>
  </div>
</div>
