<!-- Button trigger modal -->
<button type="button" class="btn-modal" data-bs-toggle="modal" data-bs-target="#cardModal">
  More about this...
</button>

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-sex-card">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <%= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
              <%= f.input :category, label: false, input_html: { value: card.title, class: "d-none" } %>
              <%= f.input :from_card, input_html: { value: true } %>
              <%= button_tag type: 'submit', class: "btn btn-link p-0" do %>
                <i class="fa-solid fa-message" ></i>
              <% end %>
            <% end %>
            <%= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
              <%= f.input :category, label: false, input_html: { value: card.title, class: "d-none" } %>
              <%= button_tag type: 'submit', class: "btn btn-link" do %>
                <i class="fa-solid fa-cart-shopping"></i>
              <% end %>
            <% end %>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <h5 class="modal-title" id="cardModalLabel"><%= card.title %></h5>
          <div class="modal-rectangle">&nbsp;</div>
        <div class="modal-body">
          <%= card.content %>
        </div>
      </div>
    </div>
  </div>
</div>
