<!-- Button trigger modal -->
<button type="button" class="btn-modal-product" data-bs-toggle="modal" data-bs-target="#cardModal-<%= product.id %>">
  See more
</button>

<!-- Modal -->
<div class="modal fade" id="cardModal-<%= product.id %>" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-sex-card">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <h5 class="modal-title" id="cardModalLabel"><%= product.name %> <%= product.price %>€</h5>
          <div class="modal-rectangle">&nbsp;</div>
          <div class="modal-photo">
            <%= cl_image_tag product.photos[0].key, crop: :fit %>
          </div>
        <div class="modal-body">
          <%= product.description %>
          <div class="w-100 d-flex align-items-center justify-content-center">
            <button type="button" class="btn button-dare" data-bs-dismiss="modal" aria-label="Close" >BUY IT, if you dare... 😏</button>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
