<div class="navbar navbar-light navmobile">
  <div class="container-fluid mx-4">
    <div id="cards-button">
        <%= link_to cards_path, class: "flex__item" do%>
            <div>
              <i class="fa fa-regular fa-newspaper" style="color: #000000; font-size: large;"></i>
            </div>
        <%end%>
    </div>
    <div id="chatroom-button">
      <% if user_signed_in? %>
        <%= link_to chatrooms_path, data: {turbo_method: :post}, class: "flex__item" do %>
        <i class="fa fa-regular fa-comment" style="color: #000000; font-size: large"></i>
      <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "flex__item" do %>
          <i class="fa fa-regular fa-comment" style="color: #000000; font-size: large"></i>
        <% end %>
      <% end %>
    </div>
    <div class="mb-3">
        <%= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
        <%= f.input :from_marketplace, label: false, input_html: { value: true , class: "d-none" } %>
        <%= button_tag type: 'submit', class: "marketplace-icon" do %>
        <i class="fa fa-regular fa-lemon" style="color: #000000; font-size: large"></i>
    <% end %>
    <% end %>
    </div>
  </div>
</div>




<%# <i class="fa-regular fa-user"></i> %>
<%# #{'active' if params[:query] == category}" %>
