<%# <%= image_tag("logotropfrais.png", alt: "Logo tro frè", style: "width: 500px;") %>
<div class="button-container">
  <%= link_to "/cards", class: "button button-dark-pink" do %>
    Cards
  <% end %>

  <% if user_signed_in? %>
    <%= link_to chatrooms_path, data: {turbo_method: :post}, class: "button button-light-purple" do %>
      Chat with a professional
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "button button-light-purple" do %>
      Chat with a professional
    <% end %>
  <% end %>

  <%= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
    <%= f.input :from_marketplace, label: false, input_html: { value: true , class: "d-none" } %>
    <%= button_tag type: 'submit', class: "button button-middle-purple" do %>
      Marketplace
    <% end %>
  <% end %>
</div>
