<div class="p-1 pb-0" id="div-search">
<div class="my-icon-to-log">
  <button class="my-icon-to-log" type="div" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    A
  </button>
  <ul class="dropdown-menu dropdown-homemade" aria-labelledby="dropdownMenuButton1">
    <li><%= link_to "Home page", root_path %></li>
    <% if current_user %>
      <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}  %></li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path%></li>
    <% end %>
  </ul>
</div>

<div class="search-form-control form-group">
<%= form_tag(cards_path, method: :get) do %>
    <%= text_field_tag :query, params[:query], class: "form-control string required", placeholder: "Search for a title or a category...", aria: { label: "Search" } %>
  </div>
<% end %>
</div>

  <%#Down here is only to show ChatGpt content from the controller cards/index%>
  <%# generation de carte %>
  <%# display more => renvoie vers la partial avec locals card: card %>

<div class="container card-container" data-controller="scroll-cards" >
  <div class="inner-container"
      data-scroll-cards-target="innerContainer">
      <% counter = 0 %>
      <% @cards.each do |card| %>
      <div class="card-box <%= card.categories.first.name.downcase.gsub(' ', '-') %>"
          data-scroll-cards-target="card"
          data-scroll-cards-value=<%= counter %>>
        <div data-action="click->scroll-cards#push_down" class="w-100">
          <div class="card-title" style="height: 65px;">
            <%= card.title %>


            <%= link_to cards_path(query: card.categories.first.name) , class: "decoration-none" do%>
              <div class="card-category <%= card.categories.first.name.downcase.gsub(' ', '-') %>">
                <p class="m-0"><%= card.categories.first.name %></p>
              </div>
            <%end%>


          </div>
          <div class="card-rectangle">&nbsp;</div>
        </div>
        <div class="card-description"><%= card.summary %></div>
        <%= render partial: "shared/modal_cards", locals: {card: card} %>
            <%#= simple_form_for :join, url: chatrooms_path, method: :post do |f| %>
              <%#= f.input :category, label: false, input_html: { value: card.title, class: "d-none" } %>
              <%#= f.submit "Chat!" %>
            <%# end %>
      </div>
      <% counter += 1 %>
    <% end %>
  </div>
</div>
